<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>FAIL</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/main.js"></script>

</head>

<body class="body-fail">
<div class="rain">
    <div class="container">
        <div class="page-header">
            <h1>Total Recall - FAIL</h1>
        </div>

        <h3>Progress</h3>
        <div class="media">
            <div class="media-body">
            <h4 class="media-heading"><img src="/static/img/{{if eq .fail.User.Email .user1 }}picard-fail.png{{else}}picard.png{{end}}" alt="picard" class="img-thumbnail" width="64" height="64"></h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                         aria-valuenow="{{.data.Pb1.Percent}}" aria-valuemin="0" aria-valuemax="{{.data.Pb1.Percent}}%" style="min-width: 2em;width: {{.data.Pb1.Percent}}%;">
                    {{.data.Pb1.Percent}}%
                    </div>
                </div>
                {{/*{{config "String" "user1" "asd"}}*/}}
                <h4 class="media-heading"><img src="/static/img/{{if eq .fail.User.Email .user2 }}leia-fail.png{{else}}leia.png{{end}}" alt="picard" class="img-thumbnail" width="64" height="64"></h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="{{.data.Pb2.Percent}}" aria-valuemin="0" aria-valuemax="{{.data.Pb2.Percent}}%" style="min-width: 2em;width: {{.data.Pb2.Percent}}%;">
                    {{.data.Pb2.Percent}}%
                    </div>
                </div>
            </div>
            <div class="media-right media-middle">
                <a href="#">
                    {{/*<img class="media-object" src="/static/img/elk-self.gif" alt="elk" width="192" height="192">*/}}
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>
